/* Products Area Style
============================================*/
.product-single-item {
    transition: $transition;

    .product-img {
        margin-bottom: 35px;
        img {
            border-radius: 20px;
        }
        .default-btn {
            margin-top: 20px;
            opacity: 0;
        }
        &:hover {
            .default-btn {
                opacity: 1;
            }
        }
    }
    h3 {
        font-size: 24px;
        margin-top: 15px;
    }
    .price {
        font-size: 18px;
    }
    &:hover {
        transform: translateY(-5px);
    }
}
.search-result {
    margin-bottom: 40px;

    .form-control {
        background-color: #EAF7F3;
        width: 290px;

        &.ps {
            padding-left: 40px !important;
        }
    }
}
.single-product-content {
    .price {
        display: block;
        margin-bottom: 10px;
    }
    h3 {
        font-size: 24px;
    }
    ul {
        margin-top: 25px;
        li {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.item-quantity {
    border-radius: 5px;
    border: 1px solid #D7DAE0;
    background: #FAFAFB;
    width: 150px;
    height: 40px;

    input {
        width: 50px;
        font-weight: 700;
        border: 1px solid #D7DAE0;
        border-top: 0;
        border-bottom: 0;
        height: 100%;
    }
    .quantity-btn {
        font-weight: 500;
        margin: 10px;
    }
}
.products-tabs {
    border-bottom: 1px solid rgba(18, 18, 18, 0.2);
    gap: 40px;
    margin-bottom: 30px;

    .nav-item {
        .nav-link {
            border: none;
            background-color: transparent;
            padding: 20px 0;
            font-size: 24px;
            font-weight: 700;
            color: $secondary;
            position: relative;
            z-index: 1;

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                width: 0%;
                height: 1px;
                background-color: #104042;
                z-index: -1;
                transition: $transition;
                opacity: 0;
            }

            &.active {
                &::before {
                    opacity: 1;
                    width: 100%;
                    right: auto;
                    left: 0;
                }
            }
        }
    }
}
.review-wrap {
    padding: 50px;
    border-radius: 15px;
    .total-review {
        border-radius: 10px;
        background: #EDE9E6;
        padding: 11px 0;
        h1 {
            color: $primary;
            font-size: 36px;
            font-weight: 700;
            line-height: normal;
        }
        span {
            color: $secondary;
            font-weight: 600;
            margin-bottom: 10px;
            display: block;
        }
    }
    .single-review {
        margin-top: 30px;
        border-top: 1px solid $border-color;
        padding-top: 30px;
        img {
            border: 2px solid $primary;
            width: 60px;
            height: 60px;
            border-radius: 100px;
        }
        h5 {
            color: #3B2A56;
            font-size: 18px;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 5px;
        }
        span {
            display: block;
            margin-bottom: 20px;
            font-size: 15px;
        }
        p {
            font-size: 17px;
        }
    }
    .rating {
        cursor: pointer;
        i {
            color: $secondary;
        }
        &.active {
            i {
                color: $warning2;
            }
        }
    }
}
.more-products-pagination {
    margin-top: 50px;

    .swiper-pagination-bullet {
    background-color: transparent;
        border: 1px solid $secondary;
        width: 14px;
        height: 14px;
        opacity: 1;
        cursor: pointer;
        transition: $transition;

        &.swiper-pagination-bullet-active {
            background-color: $secondary;
        }
    }
}
.cart-table {
    .cart-item {
        text-decoration: none;

        .cart-product-img {
            width: 80px;
            border-radius: 10px;
            border: 1px solid rgba(18, 18, 18, 0.15);
            overflow: hidden;
        }
        h3 {
            font-size: 18px;
            width: 235px;
            margin-bottom: 0;
        }
    }
    .table {
        width: 1078px;

        thead {
            tr {
                border: none;
                background-color: transparent;
                border-radius: 20px;

                th {
                    background: #EFF6FF;
                    border: none;
                    padding: 19px 30px;
                    font-weight: 600;

                    &:first-child {
                        border-radius:10px 0 0 10px;
                    }
                    &:last-child {
                        border-radius:0 10px 10px 0;
                    }
                }
            }
        }
        tbody {
            position: relative;
            top: 2px;
            tr {
                border-color: rgba(18, 18, 18, 0.15);

                td {
                    padding: 25px 30px;
                    background: #EFF6FF;

                    .text-body {
                        font-size: 20px;

                        &:hover {
                            color: $danger !important;
                        }
                    }
                }
                &:last-child {
                    td {
                        border: none;
                        
                        &:first-child {
                            border-radius: 0 0 0 20px;
                        }
                        &:last-child {
                            border-radius: 0 0 20px 0;
                        }
                    }
                }
                &:first-child {
                    td {
                        border: none;
                    }
                }
                &:nth-child(2) {
                    td {
                        &:first-child {
                            border-radius: 20px 0 0 0;
                        }
                        &:last-child {
                            border-radius: 0 20px 0 0;
                        }
                    }
                }
            }
        }
    }
}
.cart-total-area {
    border-radius: 20px;
    background: #F7FFD9;
    padding: 30px;

    h3 {
        font-size: 20px;
        margin-bottom: 25px;
    }
    ul {
        margin-bottom: 30px;
        li {
            margin-bottom: 24px;
            padding-bottom: 24px;
            border-bottom: 1px solid rgba(18, 18, 18, 0.2);

            
            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }
    .payment-option {
        padding: 12px 0;

        &:last-child {
            border-bottom: none;
        }
        .d-flex {
            gap: 10px;
            cursor: pointer;
        }
        input[type="radio"] {
            accent-color: $secondary;
            cursor: pointer;
        }
        label {
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
        }
        .content {
            overflow: hidden;
            max-height: 0;
            opacity: 0;
            padding-left: 30px;
            transition: all 0.4s ease;
        }
        &.active {
            .content {
                max-height: 200px;
                opacity: 1;
                margin-top: 8px;
            }
        }
        .content {
            p {
                font-size: 15px;
            }
        }
        .terms {
            margin-top: 20px;
            display: flex;
            align-items: center;
            gap: 10px;

            input[type="checkbox"] {
                accent-color: $secondary;
                cursor: pointer;
            }
            label {
                font-size: 15px;
                cursor: pointer;
            }
        }
    }
}
.checkout-form {
    padding: 50px 40px;
    border-radius: 20px;
}
.login-coupon-option {

    .login-coupon-option {
        padding: 20px 40px;
        border-radius: 20px;
        margin-bottom: 25px;

        &:last-child {
            border-bottom: none;
        }
        .d-flex {
            gap: 10px;
            cursor: pointer;
        }
        input[type="radio"] {
            accent-color: $secondary;
            cursor: pointer;
        }
        label {
            font-size: 16px;
            cursor: pointer;
        }
        .content {
            overflow: hidden;
            max-height: 0;
            opacity: 0;
            transition: all 0.4s ease;
        }
        &.active {
            .content {
                max-height: 200px;
                opacity: 1;
                margin-top: 8px;
            }
        }
        .content {
            p {
                font-size: 15px;
            }
        }
        .terms {
            margin-top: 20px;
            display: flex;
            align-items: center;
            gap: 10px;

            input[type="checkbox"] {
                accent-color: $secondary;
                cursor: pointer;
            }
            label {
                font-size: 15px;
                cursor: pointer;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
    .product-single-item {
        h3 {
            font-size: 20px;
        }
        .product-img {
            margin-bottom: 20px;
        }
        .price {
            font-size: 16px;
        }
    }
    .search-result {
        gap: 10px;

        .gap-30 {
            gap: 10px;
        }
    }
    .review-wrap {
        padding: 25px;
    }
    .more-products-pagination {
        margin-top: 30px;
    }
    .single-product-content {
        h3 {
            font-size: 22px;
        }
    }
    .products-tabs {
        gap: 25px;

        .nav-item {
            .nav-link {
                font-size: 18px;
            }
        }
    }
    .cart-total-area {
        padding: 25px;
        border-radius: 10px;
    }
}

/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .product-single-item {
        h3 {
            font-size: 22px;
        }
        .product-img {
            margin-bottom: 20px;
        }
        .price {
            font-size: 16px;
        }
    }
    .search-result {
        gap: 10px;

        .gap-30 {
            gap: 10px;
        }
    }
    .review-wrap {
        padding: 30px;
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px)  {
    .product-single-item {
        h3 {
            font-size: 20px;
        }
        .product-img {
            margin-bottom: 20px;
        }
        .price {
            font-size: 16px;
        }
    }
    .review-wrap {
        padding: 40px;
    }
}

/* RTL Area Style
============================================*/
.rtl {
   
    .cart-table {
        .table {
            thead {
                tr {
                    th {
                        &:first-child {
                            border-radius:0 10px 10px 0;
                        }
                        &:last-child {
                            border-radius:10px 0 0 10px;
                        }
                    }
                }
            }
            tbody {
                tr {
                    &:last-child {
                        td {
                            &:first-child {
                                border-radius: 0 0 20px 0;
                            }
                            &:last-child {
                                border-radius: 0 0 0 20px;
                            }
                        }
                    }
                    &:nth-child(2) {
                        td {
                            &:first-child {
                                border-radius: 0 20px 0 0;
                            }
                            &:last-child {
                                border-radius: 20px 0 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
    
}

/* Dark Mode Area Style
============================================ */
[for-dark-light-data-mode=for-dark] {
    .cart-table {
        .table {
            thead {
                tr {
                    th {
                        background-color: $dark-card-bg;
                        color: $white;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        background-color: $dark-card-bg;
                    }
                    .bg-white {
                        background-color: $dark-body-bg !important;
                    }
                }
            }
        }
    }
    .item-quantity {
        background-color: $dark-border-color;
        color: $white;
        border-color: $dark-border-color;

        &::placeholder {
            color: $white;
        }
        input {
            color: $white;
        }
        i {
            color: $white;
        }
    }
    .cart-total-area {
        background-color: $dark-card-bg;
        color: $white;

        ul {
            li {
                border-color: $dark-border-color;
            }
        }
    }
    .products-tabs {
        border-color: $dark-border-color;
        .nav-item {
            .nav-link {
                color: $white;
            }
        }
    }
}