/* Contact us Area Style
============================================*/
.contact-us-form {
    padding: 50px 40px;
    border-radius: 30px;

    h3 {
        font-size: 32px;
    }
    p {
        margin-bottom: 30px;
    }
}
.contact-us-content {
    h3 {
        color: $secondary;
        font-size: 24px;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    ul {
        li {
            margin-bottom: 18px;

            &.social-link {
                a {
                    display: inline-block;
                    width: 36px;
                    height: 36px;
                    line-height: 36px;
                    text-align: center;
                    background-color: #EAF7F3;
                    color: $secondary;
                    border-radius: 50px;

                    &:hover {
                        background-color: $primary;
                        color: $secondary;
                    }
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.contact-us-area-three {
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: $dark-div;
        z-index: -1;
    }
}
.contact-us-info-area {
    .bg-dark-div {
        padding: 80px;
        border-radius: 30px;
    }
}
.contact-us-info-single-item {
    i {
        font-size: 24px;
        color: $secondary;
        width: 56px;
        height: 56px;
        line-height: 56px;
        display: inline-block;
        background-color: $primary;
        text-align: center;
        border-radius: 50px;
    }
    span {
        color: $white;
        display: block;
        margin-bottom: 5px;
    }
    a {
        font-size: 18px;
        font-weight: 500;
        color: $white;

        &:hover {
            color: $primary;
        }
    }
    p {
        font-size: 18px;
        font-weight: 500;
        color: $white;
    }
}
.maps-area {
    iframe {
        width: 100%;
        height: 500px;
        display: block;
        border: none;
        border-radius: 20px;
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
    .contact-us-content {
        h3 {
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
    .contact-us-form {
        padding: 25px;
        border-radius: 15px;

        h3 {
            font-size: 24px;
        }
    }
    .contact-us-info-area {
        .bg-dark-div {
            padding: 25px;
            border-radius: 15px;
        }
    }
    .contact-us-info-single-item {
        .d-flex {
            gap: 10px;
        }
        i {
            font-size: 20px;
            width: 40px;
            height: 40px;
            line-height: 40px;
        }
        span {
            font-size: 14px;
        }
        a {
            font-size: 15px;
        }
        p {
            font-size: 15px;
        }
    }
}

/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .contact-us-info-area {
        .bg-dark-div {
            padding: 30px;
            border-radius: 15px;
        }
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px)  {

    .contact-us-content {
        h3 {
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
    .contact-us-info-area {
        .bg-dark-div {
            padding: 40px;
            border-radius: 20px;
        }
    }

}

@media (min-width: 1399px) {

   .contact-us-content {
        max-width: 668px;
        margin-left: auto;
   }
   .contact-us-info-area {
        .col-lg-4 {
            .contact-us-info-single-item {
                position: relative;
                z-index: 1;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 50px;
                    width: 1px;
                    height: 100%;
                    border-right: 1px dashed rgba(255, 255, 255, 0.35);
                    z-index: -1;
                }
            }
            &:last-child {
                .contact-us-info-single-item {
                    &::before {
                        display: none;
                    }
                }
            }
        }
   }

}   

/* RTL Area Style
============================================*/
.rtl {
   
    @media (min-width: 1399px) {

        .contact-us-content {
            margin-left: 0;
            margin-right: auto;
        }
        .contact-us-info-area {
            .col-lg-4 {
                .contact-us-info-single-item {
                    &::before {
                        right: unset;
                        left: 50px;
                    }
                }
            }
        }
    } 
    
}

/* Dark Mode Area Style
============================================ */
[for-dark-light-data-mode=for-dark] {
    
    .contact-us-content {
        h3 {
            color: $white;
        }
    }
    .contact-us-area-three {
        .bg-img {
            background-image: unset !important;
            background-color: $dark-card-bg;
        }
    }
    .contact-us-area {
        .bg-img {
            background-image: unset !important;
            background-color: $dark-card-bg;
        }
    }
}