/* Global Area Style
============================================*/
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: auto !important;
    }
}
body {
    font-family: $body-font-family;
}
a {
    transition: $transition;
    color: $body-color;
	&:hover {
       color: $primary;
	}
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: $secondary;
    font-weight: bold;
    font-family: $heading-font-family;
}
p {
	margin-bottom: 15px;
    line-height: 1.6;

	&:last-child {
        margin-bottom: 0;
    }
} 
img {
    max-width: 100%;
    height: auto;
}
.label {
    font-size: 14px;
    letter-spacing: 0.28px;
    color: $secondary;
    font-weight: 700;
    margin-bottom: 10px;
}
.form-control {
	background-color: $white; 
	border: 1px solid $white;
    height: 60px;
    color: $secondary;
	font-size: 15px;
	padding: 15px 20px;
	width: 100%;
    border-radius: 10px;
	transition: $transition;

	&::placeholder {
		color: $body-color;
		font-size: 16px;
        font-weight: 400;
	}
	&:focus {
        border-color: $primary;
		box-shadow: unset;
		outline: 0;
	}
	&.form-select  {
		cursor: pointer;
	}
}
textarea {   
    &.form-control {
        height: auto;
    }
}
.ptb-100 {
	padding: {
		top: 100px;
		bottom: 100px;
	}
}
.ptb-120 {
	padding: {
		top: 120px;
		bottom: 120px;
	}
}
.pt-120 {
    padding-top: 120px;
}
.pb-120 {
    padding-bottom: 120px;
}
.transition-y {
    transition: $transition;
    &:hover {
        transform: translateY(-5px);
    }
}
.box-shades {
    box-shadow: $box-shadow;
    border-radius: 20px;
}

/* Font Size Area Style
============================================*/
.fs-10 {
    font-size: 10px;
}
.fs-11 {
    font-size: 11px;
}
.fs-12 {
    font-size: 12px;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-16 {
    font-size: 16px;
}
.fs-17 {
    font-size: 17px;
}    
.fs-18 {
    font-size: 18px;
}
.fs-19 {
    font-size: 19px;
}
.fs-20 {
    font-size: 20px;
}
.fs-21 {
    font-size: 21px;
}
.fs-22 {
    font-size: 22px;
}
.fs-23 {
    font-size: 23px;
}
.fs-24 {
    font-size: 24px;
}
.fs-30 {
    font-size: 30px;
}
.fw-800 {
    font-weight: 800;
}
.fw-900 {
    font-weight: 900;
}

/* BG Image Area Style
============================================*/
.bg-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-eef2da {
    background-color: #f7ffd9;
}
.bg-eff6ff {
    background-color: #eff6ff;
}


/* Position Style
============================================*/
.tops-1 {
    top: 1px !important;
}
.tops-2 {
    top: 2px !important;
}
.tops-3 {
    top: 3px !important;
}
.tops-4 {
    top: 4px !important;
}
.tops-5 {
    top: 5px !important;
}
.gap-6 {
    gap: 6px;
}
.gap-7 {
    gap: 7px;
}
.gap-8 {
    gap: 8px;
}
.gap-9 {
    gap: 9px;
}
.gap-10 {
    gap: 10px;
}
.gap-11 {
    gap: 11px;
}
.gap-12 {
    gap: 12px;
}
.gap-13 {
    gap: 13px;
}
.gap-14 {
    gap: 14px;
}
.gap-15 {
    gap: 15px;
}
.gap-16 {
    gap: 16px;
}
.gap-17 {
    gap: 17px;
}
.gap-18 {
    gap: 18px;
}
.gap-19 {
    gap: 19px;
}
.gap-20 {
    gap: 20px;
}
.gap-25 {
    gap: 25px;
}
.gap-26 {
    gap: 26px;
}
.gap-27 {
    gap: 27px;
}
.gap-28 {
    gap: 28px;
}
.gap-29 {
    gap: 29px;
}
.gap-30 {
    gap: 30px;
}

/* Btn Style
============================================*/
button {
    transition: $transition;
}
.default-btn {
    padding: 13.5px 30px;
    font-size: 18px;
    font-weight: 600;
    color: $secondary;
    overflow: hidden;
    background-color: $primary;
    border: 1px solid $dark-div;
    text-decoration: none;
    display: table;
    text-align: center;
    gap: 5px;
    text-transform: capitalize;
    border-radius: 10px;
    box-shadow: 3px 3px 0px 0 $dark-div;

    img {
        transition: $transition;
    }

    &:hover {
        background-color: $warning;
        color: $secondary;
        border-color: $warning;

        img {
            filter: brightness(000);
        }
    }
    &.active {
        background-color: $warning;
        color: $secondary;
        border-color: $dark-div;

        &:hover {
            background-color: $primary;
            color: $secondary;
            border-color: $primary;

            img {
                filter: invert(1);
            }
        }
    }
    &.shadow {
        box-shadow: 3px 3px 0px 0 $white !important;
    }
    &.shades-none {
        box-shadow: none;
    }
}
.video-btn {
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 100px;
    display: inline-block;
    background-color: $warning;
    color: $secondary;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;
        bottom: 0;
        left: 0;
        border-radius: 0;
        background-color: $white;
        animation: ripple 1.6s ease-out infinite;
        border-radius: 100px;
    }

    i {
        font-size: 25px;
        transition: $transition;
    }
    &:hover {
        background-color: $primary;
        i {
            color: $white;
        }
    }
}
@keyframes ripple {
    0%, 35% {
        transform: scale(0);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: scale(2);
    }
}

/* Read More Style
============================================*/
.read-more {
    font-size: 18px;
    color: $body-color;
    position: relative;
    font-weight: 600;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: $transition;
    text-underline-offset: 5px;

    i {
        font-size: 20px;
        line-height: 0;
    }
    &.active {
        color: $warning;
        &:hover {
            color: $secondary;
        }
    }
    &:hover {
        color: $warning !important;
    }
}

/* 
Main Content Text Style
=====================================================*/ 
.main-content-text {
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 15px;
	}
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 26px;
	}
	h3 {
		font-size: 25px;
	}
	h4 {
		font-size: 22px;
	}
	h5 {
		font-size: 20px;
	}
	h6 {
		font-size: 18px;
	}
	.gap-20 {
		margin-bottom: 30px;
	}
	ul {
		padding: 0;
		list-style-type: none;
		margin-bottom: 0;
		li {
			position: relative;
			margin-bottom: 10px;
			padding-left: 35px;
			&:last-child {
				margin-bottom: 0;
			}
			i {
				position: absolute;
				top: -6px;
				left: 0;
				color: $primary;
				font-size: 25px;
			}
		}
	}
	ol {
		padding-left: 18px;
		li {
			margin-bottom: 20px;
			&::marker  {
				color: $primary;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	a {
		color: $primary;
		&:hover {
			text-decoration: underline;
		}
	}
	.content-gap-mb-20 {
		margin-bottom: 20px;
	}
	.content-gap-mb-30 {
		margin-bottom: 30px;
	}
	.update {
		display: block;
		margin-bottom: 30px;
	}
}

/* Error Area Style
============================================*/
.error-content {
	h1 {
		font-size: 100px;
		line-height: 1;
		color: $primary;
        margin-bottom: 30px;
		span {
			color: rgba(252, 239, 150, 0.5);
			-webkit-text-stroke: 1px #808CFF;
			user-select: none;
		}
	}
	h3 {
		font-size: 24px;
		margin-bottom: 25px;
	}
	p {
		margin-bottom: 30px;
	}
}

/* Section Area Style
==================================================*/
.top-title {
    color: $secondary;
    font-size: 15px;
    font-weight: 600;
    line-height: 166.667%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border-radius: 100px;
    border: 1px solid rgba(16, 64, 66, 0.30);
    background: rgba(16, 64, 66, 0.08);
    padding: 3px 14px;
    margin-bottom: 20px;
    display: inline-block;

    &:last-child {
        margin-bottom: 0;
    }
    &.two {
        border: 1px solid rgba(255, 255, 255, 0.30);
        background: rgba(255, 255, 255, 0.08);
        color: $white;
    }
}
.main-title {
    font-size: 40px;
    line-height: 125%;
    color: $secondary;
    max-width: 587px;
    margin-bottom: 15px;
    
    &:last-child {
        margin-bottom: 0;
    }
    &.mw-455 {
        max-width: 460px;
    }
    &.mw-620 {
        max-width: 620px;
    }
    &.mw-720 {
        max-width: 720px;
    }
    &.mw-1055 {
        max-width: 1055px;
    }
}
.under-line {
    background-image: url(../images/under-line.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
}
.mb-30 {
    margin-bottom: 30px;
    margin-top: -14px;
}
.mb-40 {
    margin-bottom: 40px;
    margin-top: -14px;
}
.mb-50 {
    margin-bottom: 50px;
    margin-top: -14px;
}
.mb-60 {
    margin-bottom: 60px;
    margin-top: -14px;
}
.mb-70 {
    margin-bottom: 70px;
    margin-top: -14px;
}
.mb-80 {
    margin-bottom: 80px;
    margin-top: -14px;
}


/* Slider Controller Area Style
==================================================*/
.default-slide-controller {
    .slide-icon {
        i {
            font-size: 20px;
            width: 56px;
            height: 56px;
            line-height: 56px;
            text-align: center;
            color: $white;
            display: inline-block;
            border-radius: 50px;
            transition: $transition;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.50);
            border: 1px solid rgba(255, 255, 255, 0.50);
            backdrop-filter: blur(7.5px);
            &:hover {
                border-color: $primary;
                color: $white;
                background-color: $primary;
            }
        }
        &.swiper-button-disabled {
            color: $gray;
            opacity: 0.7;
        }
    }
}

/** Swiper Slider */
html[class="rtl"] {
    .swiper {
        direction: ltr;

        .swiper-slide {
            * {
                direction: rtl;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    body {
        font-size: 14px;
    }
    .ptb-100 {
        padding: {
            top: 60px;
            bottom: 60px;
        }
    }
    .ptb-120 {
        padding: {
            top: 60px;
            bottom: 60px;
        }
    }
    .pt-120 {
        padding-top: 60px;
    }
    .pb-120 {
        padding-bottom: 60px;
    }
    .shape {
        display: none;
    }
    .error-content {
        h1 {
            font-size: 70px;
        }
    }
    .top-title {
        font-size: 12px;
    }
    .main-title {
        font-size: 25px;
        letter-spacing: normal;
    }
    .mb-40 {
        margin-bottom: 30px;
        margin-top: 0;
    }
    .mb-50 {
        margin-bottom: 30px;
        margin-top: 0;
    }
    .mb-60 {
        margin-bottom: 30px;
        margin-top: 0;
    }
    .mb-70 {
        margin-bottom: 30px;
        margin-top: 0;
    }
    .mb-80 {
        margin-bottom: 30px;
        margin-top: 0;
    }
    .default-slide-controller {
        .slide-icon {
            i {
                width: 40px;
                height: 40px;
                line-height: 37px;
            }
        }
    }
    .default-btn {
        padding: 10.5px 25px;
        font-size: 15px;
    }    
    .read-more {
        font-size: 14px;
        font-weight: 600;
    }
    .main-content-text {
        h3 {
            font-size: 20px;
        }
    }
}

/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width : 991px) {

    body {
        font-size: 14px;
    }
    .ptb-100 {
        padding: {
            top: 60px;
            bottom: 60px;
        }
    }
    .ptb-120 {
        padding: {
            top: 60px;
            bottom: 60px;
        }
    }
    .pt-120 {
        padding-top: 60px;
    }
    .pb-120 {
        padding-bottom: 60px;
    }
    .shape {
        display: none;
    }
    .error-content {
        h1 {
            font-size: 80px;
        }
    }
    .top-title {
        font-size: 12px;
    }
    .main-title {
        font-size: 35px;
    }
    .mb-40 {
        margin-bottom: 30px;
        margin-top: 0;
    }
    .mb-50 {
        margin-bottom: 30px;
        margin-top: 0;
    }
    .mb-60 {
        margin-bottom: 30px;
        margin-top: 0;
    }
    .mb-70 {
        margin-bottom: 30px;
        margin-top: 0;
    }
    .mb-80 {
        margin-bottom: 30px;
        margin-top: 0;
    }
    .default-slide-controller {
        .slide-icon {
            i {
                font-size: 30px;
            }
        }
    }
    .default-btn {
        padding: 12.5px 15px;
        font-size: 15px;
    }   

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width : 1199px) {

    .ptb-120 {
        padding: {
            top: 100px;
            bottom: 100px;
        }
    }
    .pt-120 {
        padding-top: 100px;
    }
    .pb-120 {
        padding-bottom: 100px;
    }
    .shape {
        display: none;
    }
    .default-btn {
        padding: 10.5px 20px;
        font-size: 15px;
    }
    .main-title {
        font-size: 40px;
    }
}

@media (min-width: 1399px) {
    
    .col-lg-20 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .mw-650 {
        max-width: 650px;
    }
}

@media (min-width: 991px) {
    .mw-1690 {
        max-width: 1690px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 991px) {
    .transform-unset {
        transform: unset !important;
    }
}   

/* Settings Area Style
============================================*/
.settings-btn-wrap {
    position: fixed;
    top: 50%;
    right: -150px;
    transform: translateY(-50%);
    z-index: 3;
    transition: $transition;

    .settings-button {
        margin-right: 0;
        border: none;
        background-color: transparent;
        background-color: $primary;
        box-shadow: $box-shadow;
        padding: 0;
        color: $secondary;
        border-radius: 4px 0 0 4px;
        width: 40px;
        height: 40px;
        line-height: 44px;
        text-align: center;

        i {
            animation: rotation 4s infinite linear;
            display: inline-block;
            font-size: 20px;
        }
        &:hover {
            background-color: $warning;
            color: $secondary;
        }
    }
    .settings-box {
        background-color: $white;
        box-shadow: $box-shadow;
        padding: 10px;
        border-radius: 4px;
    }
    &.active {
        right: 0;
    } 
}
.settings-btn {
    background-color: $primary;
    padding: 8px 10px;
    color: $secondary;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: $transition;
}
@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

/* RTL Area Style
============================================*/
.rtl {
    direction: rtl;
    .settings-btn {
        &.rtl-btn {
            background-color: $warning;
            color: $secondary;
        }
    }
    .settings-btn-wrap {
        right: auto;
        left: -150px;
        .settings-button {
            border-radius: 0 4px 4px 0;
        }
        &.active {
            left: 0;
        }
    }
    ul {
        padding-right: 0;
    }
    .ms-2 {
        margin-left: 0 !important;
        margin-right: 0.5rem !important;
    }
    .ms-1 {
        margin-left: 0 !important;
        margin-right: 0.25rem !important;
    }
    .me-1 {
        margin-right: 0 !important;
        margin-left: 0.25rem !important;
    }
    .end-0 {
        right: auto !important;
        left: 0 !important;
    }
    .ms-sm-3 {
        margin-left: 0 !important;
        margin-right: 1rem !important;
    }
    .ms-3 {
        margin-left: 0 !important;
        margin-right: 1rem !important;
    }
    .ms-0 {
        margin-left: auto;
        margin-right: 0;
    }
    .pe-3 {
        padding-right: 0 !important;

        padding-left: 1rem !important;
    }
    .me-2 {
        margin-right: 0 !important;
        margin-left: 0.5rem !important;
    }
    .ms-lg-5 {
        margin-left: 0 !important;
        margin-right: 3rem !important;
    }
    .ps-lg-3 {
        padding-left: 0 !important;
        padding-right: 1rem !important;
    }
    .ms-auto {
        margin-left: 0 !important;
        margin-right: auto !important;
    }
    .text-start {
        text-align: right !important;
    }
    #backtotop {
        right: auto;
        left: 30px;
    }
    .btn {
        i {
            margin-left: 0;
            margin-right: 10px;
        }
        img {
            margin-left: 0;
            margin-right: 10px;
        }
    }
    .settings-btn {
        right: auto;
        left: 0;
    }
    .form-icon {
        left: auto;
        right: 18px;
    }
    .text-end {
        text-align: left !important;
    }
    .text-lg-end {
        text-align: left !important;
    }
    .text-lg-start {
        text-align: right !important;
    }
    .start-0 {
        left: auto !important;
        right: 0 !important;
    }
    @media only screen and (max-width : 767px) {
        .text-end {
            text-align: center !important;
        }
        .text-lg-end {
            text-align: center !important;
        }
        .text-lg-start {
            text-align: center !important;
        }
    }
    /* Min width 992px to Max width 1199px */
    @media only screen and (min-width : 768px) and (max-width : 991px) {
        .text-end {
            text-align: center !important;
        }
        .text-lg-end {
            text-align: center !important;
        }
        .text-lg-start {
            text-align: center !important;
        }
    }
    .read-more {
        i {
            margin-left: 0;
            margin-right: 10px;
        }
    }
    .form-select {
        background-position: left 0.75rem center;
    }
    @media (min-width: 992px) {
        .ms-lg-auto {
            margin-left: 0 !important;
            margin-right: auto !important;
        }
    }
    @media (min-width: 1200px) {
        .ms-xl-0 {
            margin-left: auto !important;
            margin-right: 0 !important;
        }
    }
    @media (min-width: 1200px) {
        .ms-xl-auto {
            margin-left: 0 !important;
            margin-right: auto !important;
        }
    }
    @media (min-width: 1200px) {
        .pe-xl-4 {
            padding-right: 0 !important;
            padding-left: 1.5rem !important;
        }
    }
    @media (min-width: 1200px) {
        .me-xl-5 {
            margin-right: 0 !important;
            margin-left: 3rem !important;
        }
    }
    @media (min-width: 1200px) {
        .ps-xl-3 {
            padding-left: 0 !important;
            padding-right: 1rem !important;
        }
    }
    @media (min-width: 1200px) {
        .ms-xl-5 {
            margin-left: 0 !important;
            margin-right: 3rem !important;
        }
    }
}

/* Dark Mode Area Style
==================================== */
[for-dark-light-data-mode=for-dark] {
    color: $dark-paragraph-color;
    background-color: $dark-body-bg;

    .for-light-dark {
		background-color: $warning;
		color: $secondary;
	}
    .settings-btn-wrap .settings-box {
        background-color: $dark-border-color;
    }
    .card {
        background-color: $dark-card-bg;
        border: $dark-border-color;
    }
    
    /* Heading Styling */
    h1, h2, h3, h4, h5, h6 {
        color: $dark-heading-color;
    }
    .text-secondary {
        color: $white !important;
    }
    .label {    
        color: $white;
    }
    .form-control {
        background-color: #1e1e1e !important;
        border-color: #333333 !important;
        color: $white;
        &:focus {
            border-color: $primary;
        }
        &::placeholder {
            color: $dark-paragraph-color;
        }
    }
    .card {
        &.bg-white {
            background-color: $dark-card-bg !important;
        }
    }
    .top-title {
        color: $white;
    }
    .section-title {
        h2 {
            color: $dark-heading-color;
            &.text-secondary {
                color: $secondary !important;
            }
        }

    }
    .bg-gray {
        background-color: #2d2c2c !important;
    }
    .read-more {
        color: $white;
        &:hover {
            color: $primary !important;
        }
    }
    .text-body {
        color: $dark-paragraph-color !important;
    }
    .text-secondary-50 {
        color: $white !important;
    }
    .text-secondary {
        color: $white !important;
    }
    .bg-eff6ff {
        background-color: $dark-border-color;
    }
    
}
.offcanvas {
    z-index: 9999999;
}
.modal {
    z-index: 9999999;
}
.offcanvas-backdrop {
    z-index: 9999;
}
.modal-backdrop {
    z-index: 9999;
}
.reveal {
    visibility: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}