/* Marquee Area Style
============================================*/
.marquee-wrapper {
    overflow: hidden;

	.marquee {
		display:  inline-block;
		white-space: nowrap;
		position: relative;
		transform: translate3d(0%, 0, 0);
		animation-name: marquee;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
        animation-duration: 57s;

        &.speed-300 {
            animation-duration: 200s;
        }
	}
	&:hover {
		.marquee {
			animation-play-state: paused !important;
		}
	}
    &.style-two {
        .monogram {
            font-size: 24px;
            color: $white;
            line-height: normal;
        }
    }
}
@keyframes marquee {
	0% {
		transform: translate3d(0%, 0, 0);
	}
	100% {
		transform: translate3d(-100%, 0, 0);
	}
}
.monogram {
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 110px;

    img {
        position: relative;
        top: -5px;
        right: -5px;
        border-radius: 100px;
        margin: 0 50px;
    }
}

@media only screen and (max-width: 767px) {
    .monogram {
        font-size: 35px;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: 2.9px;
    }
}

/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width : 991px)  {
    .monogram {
        font-size: 40px;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: 2.9px;
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width : 1199px) {
    
    .monogram {
        font-size: 50px;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: 2.9px;
    } 
}

/* RTL Area Style
============================================*/
.rtl {
   
    .marquee-wrapper {
        .marquee {
            animation-name: marquee-rtl;
        }
    }
    @keyframes marquee-rtl {
        0% {
            transform: translate3d(0%, 0, 0);
        }
        100% {
            transform: translate3d(100%, 0, 0);
        }
    }
    
}

/* Dark Mode Area Style
============================================ */
[for-dark-light-data-mode=for-dark] {
    .monogram {
       color: $white;
    }
}