/* Testimonial Area Style
============================================*/
.testimonial-single-item {
    background-color: $white;
    padding: 40px;
    border-radius: 20px;

    .review {
        margin-bottom: 15px;
        i {
            color: $warning;
            font-size: 20px;
        }
    }
    h3 {
        font-size: 22px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    .info {
        margin-top: 25px;
        padding-top: 30px;
        border-top: 1px dashed rgba(18, 18, 18, 0.22);
    }
    &.style-three {
        background-color: #EFF6FF;
    }
}
.testimonials-tabs {
    .nav-link {
        background-color: $white;
        text-align: left;
        gap: 20px;
        border-radius: 20px;
        padding: 16px 20px;
        transition: $transition;
        margin-bottom: 25px;
        cursor: pointer;

        &:last-child {
            margin-bottom: 0;
        }
        h3 {
            font-size: 22px;
            color: $secondary;
            transition: $transition;
        }
        span{
            color: $body-color;
            transition: $transition;
        }
        img {
            border: 2px solid $dark-div;
            transition: $transition;
        }
        &.active {
            background-color: #104042;
            h3 {
                color: $white;
            }
            span{
                color: $white;
            }
            img {
                border: 2px solid $primary;
            }
        }
    }
}
.testimonials-single-item-two {
    background-color: $white;
    padding: 40px;
    border-radius: 20px;

    h3 {
        font-size: 22px;
    }
    i {
        color: $warning2;
        font-size: 20px;
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .testimonial-single-item {
        padding: 25px;
        
        h3 {
            font-size: 18px;
        }
        .info {
            gap: 15px;
        }
    }
    .testimonials-tabs {
        .nav-link {
            padding: 10px;
            h3 {
                font-size: 18px;
            }
        }
    }
    .testimonials-single-item-two {
        padding: 25px;
    }

}

/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .testimonial-single-item {
        padding: 25px;
        
        h3 {
            font-size: 20px;
        }
        .info {
            gap: 15px;
        }
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px)  {
    .testimonial-single-item {
        padding: 25px;

        h3 {
            font-size: 18px;
        }
        .info {
            gap: 15px;
        }
    }
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .testimonials-tabs {
        .nav-link {
            padding: 10px;
            h3 {
                font-size: 18px;
            }
        }
    }
}

/* Min width 1400px to Max width 1799px */
@media only screen and (min-width: 1400px) and (max-width: 1799px) {
    .testimonial-single-item {
        h3 {
            font-size: 18px;
        }
        .info {
            gap: 15px;
        }
    }
}

/* Dark Mode Area Style
============================================ */
[for-dark-light-data-mode=for-dark] {
    .testimonial-area {
        background-image: unset !important;
        background-color: $dark-card-bg;
    }
    .testimonials-area-two {
        background-image: unset !important;
        background-color: $dark-card-bg;
    }
    .testimonial-single-item {
        background-color: $dark-body-bg;

        .info {
            border-top: 1px dashed rgba(255, 255, 255, 0.22);
        }
    }
    .testimonials-tabs .nav-link {
        background-color: $dark-body-bg;
        h3 {
            color: $white;
        }
        span {
            color: $white;
        }
        &.active {
            background-color: $dark-div;
        }
    }
    .testimonials-single-item-two {
        background-color: $dark-body-bg;

        img {
            filter: brightness(100);
        }
    }
}