/*------------------------------------------------------------------
[Master Stylesheet]

Project Name: Soldi - Currency Exchange & Money Transfer HTML Template
Version: 1.1
Last Updated: November 28, 2025
Author: HiBootstrap
Primary Use: HTML Template for Currency Exchange & Money Transfer

@import "./components/global";
@import "./components/preloader";
@import "./components/backtoptop";
@import "./components/pagination";
@import "./components/header";
@import "./components/navbar";
@import "./components/banner";
@import "./components/fun-fact";
@import "./components/features";
@import "./components/about-us";
@import "./components/process";
@import "./components/why-choose-us";
@import "./components/covering";
@import "./components/pricing";
@import "./components/testimonials";
@import "./components/blog";
@import "./components/faq";
@import "./components/footer";
@import "./components/marquee";
@import "./components/sidebar-info";
@import "./components/team";
@import "./components/services";
@import "./components/my-account";
@import "./components/contact-us";
@import "./components/details-content";
@import "./components/products";

-------------------------------------------------------------------*/

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// Required
@import "../../node_modules/bootstrap/scss/functions";

// Default variable overrides
@import "./variables";

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/mixins";

// Create your own map
$custom-colors: (
    "gray": $gray,
    "dark-div": $dark-div,
    "dark-div2": $dark-div2,
    "gray2": $gray2,
    "warning2": $warning2,
    "success2": $success2,
);

$font-sizes: (
    1: $h1-font-size,
    2: $h2-font-size,
    3: $h3-font-size,
    4: $h4-font-size,
    5: $h5-font-size,
    6: $h6-font-size,
);

// Required Utilities Parts
$utilities: (
    "font-size": (
        rfs: true,
        property: font-size,
        class: fs,
        values: $font-sizes
    ),
    
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// Required
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/root";

// Optional Bootstrap components here
//@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";

// Required
@import "../../node_modules/bootstrap/scss/bootstrap";

// Components
@import "./components/global";
@import "./components/preloader";
@import "./components/backtoptop";
@import "./components/pagination";
@import "./components/header";
@import "./components/navbar";
@import "./components/banner";
@import "./components/fun-fact";
@import "./components/features";
@import "./components/about-us";
@import "./components/process";
@import "./components/why-choose-us";
@import "./components/covering";
@import "./components/pricing";
@import "./components/testimonials";
@import "./components/blog";
@import "./components/faq";
@import "./components/footer";
@import "./components/marquee";
@import "./components/sidebar-info";
@import "./components/team";
@import "./components/services";
@import "./components/my-account";
@import "./components/contact-us";
@import "./components/details-content";
@import "./components/products";